$browsers-supporting-old-webkit-gradients: (android: ("2.1", "3"));
$browsers-supporting-svg-but-not-gradients: (ie: "9", opera: "9.5-9.6");
$debug-browser-support: false;
$graceful-usage-threshold: 0.1;
$svg-gradient-shim-threshold: $graceful-usage-threshold;
$gradient-support-threshold: $graceful-usage-threshold;
$owg-threshold: $graceful-usage-threshold;


// New color
$new-color: #ad9a5b;

// Array of colors from _variables.scss
$theme-colors: (
    primary: $new-color,
    secondary: $gray-600,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
) !default;